/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';


// Clases para los fondos pasteles según horario
.bg-madrugada { 
    --background: #f3e5f5; // Morado muy suave
    background-color: #f3e5f5 !important; 
}

.bg-manana { 
    --background: #e8f5e9; // Verde muy suave
    background-color: #e8f5e9 !important; 
}

.bg-tarde { 
    --background: #fff3e0; // Naranja muy suave
    background-color: #fff3e0 !important; 
}

.bg-noche { 
    --background: #e3f2fd; // Azul muy suave
    background-color: #e3f2fd !important; 
}

// Estilos generales para las tarjetas de la lista
ion-card {
    margin: 12px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    transition: transform 0.2s ease, background-color 0.4s ease;

    &:active {
        transform: scale(0.98); // Efecto de pulsación al hacer clic
    }
}

// Para que el texto no se vea apretado
ion-label {
    h2 {
        margin-top: 4px;
        margin-bottom: 4px;
    }
}

// Ajuste para las miniaturas
ion-thumbnail {
    --size: 56px;
    border: 1px solid rgba(0,0,0,0.05);
}